# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Local env
.env

# Data & models (keep structure, not heavy artifacts)
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

models/*
!models/.gitkeep

reports/figures/*
!reports/figures/.gitkeep

# Notebooks checkpoints
notebooks/.ipynb_checkpoints/


frontend/out/